<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
    <div class="flex justify-center">
      <img
        src="assets/Logo/ticket-booth-logo.png"
        alt="Logo"
        class="w-24 h-20 object-contain"
      />
    </div>
    <h2 class="text-2xl font-bold text-center mb-1">Welcome Back!</h2>
    <p class="text-xs text-gray-500 text-center mb-6">
      Sign in to your Ticket Booth account
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700"
          >Username</label
        >
        <input
          id="username"
          type="text"
          formControlName="username"
          [ngClass]="{
            'border-red-500 focus:ring-red-500 focus:border-red-500':
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
          }"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          placeholder="Enter your username"
        />
        <div
          *ngIf="
            loginForm.get('username')?.touched &&
            loginForm.get('username')?.invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          Please enter your username
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password</label
        >
        <input
          id="password"
          type="password"
          formControlName="password"
          [ngClass]="{
            'border-red-500 focus:ring-red-500 focus:border-red-500':
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.touched
          }"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          Please enter your password
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mt-6">
        <button
          type="submit"
          class="w-full px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none disabled:bg-gray-300 disabled:cursor-not-allowed"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
